body {
   background-color: #ecd590;
   margin: 0;
   padding: 0;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center; 
}

.shelf {
    width: 520px;
    height: 20px;
    background-color: #5a3f21;
}